{% extends 'cliente/cliente.html' %}

{% block contenido_pantalla_emergente %}
<main>
    <h1>Registro Vehiculo Cliente</h1>
    <form id="form_reg_vehiculo_cliente" class="form_seccion">
        <div class="cont_form_2_secciones">
            <section class="form_seccion">
                <h3>Buscar Cliente</h3>
                <label for="nro_ci">Número de CI:</label>
                <input type="text" id="nro_ci" name="nro_ci" required maxlength="10" pattern="[0-9A-Za-z]{6,10}">
                <button type="button" class="btn_buscar" onclick="buscar_cliente()">buscar</button><br><br>
                <p>Datos busqueda cliente:<br>
                    <span id="datos_cliente"></span>
                </p>
                <input type="hidden" id="id_cliente">
            </section>
            <section class="form_seccion">
                <h3>Datos del Vehículo</h3>
                <label for="placa">Placa:</label>
                <input type="text" id="placa" name="placa" required maxlength="10" pattern="[0-9A-Z]{6,10}">
                <button type="button" class="btn_buscar" onclick="buscar_vehiculo()">buscar</button><br><br>
                <p>Datos busqueda vehiculo:<br>
                    <span id="datos_vehiculo"></span>
                </p>
                <input type="hidden" id="id_vehiculo">
            </section>
        </div>
        <section class="form_seccion_btns">
            <button type="submit" class="registrar-btn"> Registrar </button>
            <a href="/cliente" class="close-btn" id="cerrar-btn">Cerrar</a>
        </section>
    </form>
    
</main>

<script>
    var $overlay = $('#popup-overlay');
    $overlay.show();

    $('#cerrar-btn').on('click', function () {
        var $popup = $('.cont_pantalla_emergente div');
        $popup.remove();
        $overlay.hide();
    });

    function buscar_cliente(){
        event.preventDefault();
        $('#id_cliente').val('')
        $.ajax({
            url: url_servidor+'/cliente/traer_cliente_nro_ci/'+ $('#nro_ci').val(),
            type: 'GET',
            dataType: 'json',
            success: function (respuesta) {
                contenido= respuesta.contenido;
                if (respuesta.exito) {
                    datos_cliente=contenido.nombres +' '+ contenido.apellido_p
                    $('#datos_cliente').text(datos_cliente);
                    $('#id_cliente').val(contenido.id)
                } else {
                    $('#datos_cliente').text(contenido);
                }
            }
        });
    }

    function buscar_vehiculo(){
        event.preventDefault();
        $('#id_vehiculo').val('')
        $.ajax({
            url: url_servidor+'/cliente/traer_vehiculo_placa/'+ $('#placa').val(),
            type: 'GET',
            dataType: 'json',
            success: function (respuesta) {
                contenido= respuesta.contenido;
                if (respuesta.exito) {
                    datos_vehiculo= `
                        placa: ${contenido.placa} <br>
                        color: ${contenido.color} <br>
                        modelo_marca: ${contenido.modelo_marca} <br>
                    `;
                    $('#datos_vehiculo').html(datos_vehiculo);
                    $('#id_vehiculo').val(contenido.id)
                } else {
                    $('#datos_vehiculo').text(contenido);
                }
            }
        });
    }

    $('#form_reg_vehiculo_cliente').submit(function (event) {
        event.preventDefault();

        var formData = {
            id_cliente: $('#id_cliente').val(),
            id_vehiculo: $('#id_vehiculo').val()
        };

        $.ajax({
            url: url_servidor+'/cliente/registro_vehiculo_cliente',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(formData),
            success: function (respuesta) {
                if (respuesta.exito) {
                    crearMensaje(respuesta.titulo, respuesta.mensaje, respuesta.redireccion);
                } else {
                    crearMensaje(respuesta.titulo, respuesta.mensaje);
                }
            }
        });
    });
    

</script>
{% endblock %}
