{% extends 'reporte/reporte.html' %}

{% block cont_formularios %}
<div>
    <h1>Reporte Salida Vehiculos</h1>
    <div class="cont_tabla">
        
        <table id="tabla_reporte">
            <thead>
                <tr>
                    <th>Id_ticket</th>
                    <th>Piso</th>
                    <th>Lugar</th>
                    <th>Placa</th>
                    <th>Tipo_cliente</th>
                    <th>Fecha_hora_ingreso</th>
                    <th>Fecha_hora_salida</th>
                    <th>Tiempo_transcurrido</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    cargar_tabla_reporte2();
    function cargar_tabla_reporte2(){
        $.ajax({
            url: url_servidor+'/reporte/traer_reporte_sal_veh',
            type: 'GET',
            dataType: 'json',
            success: function (resultado) {
                var tabla = $('#tabla_reporte tbody');
                if (resultado.length === 0) {
                    console.log("la tabla no tiene datos");
                }else{
                    tabla.empty();
                    resultado.forEach(data => {
                        const tr = document.createElement('tr');
                        const trContent = `
                        <tr>
                            <td>${data.id_ticket}</td>
                            <td>${data.piso}</td>
                            <td>${data.lugar}</td>
                            <td>${data.placa}</td>
                            <td>${data.tipo_cliente}</td>
                            <td>${data.fecha_hora_ingreso}</td>
                            <td>${data.fecha_hora_salida}</td>
                            <td>${data.tiempo_transcurrido}</td>
                        </tr>    
                        `;
                        tr.innerHTML = trContent;
                        tabla.append(trContent);
                    });
                }
            }
        });
    }
</script>
{% endblock %}